#article-pos{
    position: relative;
    z-index: -1;
}

#article-flex-wrapper{
    /* display: flex; */
    display: inline-flex;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
    border-radius: 5px; 
    padding: 1rem;
}

#article-details-wrapper{
    display: flex;
    flex-direction: column;

}